
<ion-header>
  <ion-navbar>
    <ion-title>Log In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="logForm(this.loginForm.value)" [formGroup]="loginForm">
    <ion-list inset>
    <!--Username input-->
    <ion-item [class.error]="!username.valid && username.touched">
      <ion-label floating>Username</ion-label>
      <ion-input type="text"  name="username" formControlName="username" (input)="hideServerError()"></ion-input>
    </ion-item>
     <!--username validation errors -->
    <ion-card [ngSwitch]="true">
      <ion-card-content 
        *ngSwitchCase="username.hasError('required') && username.touched"
        class="error-box" 
        color="red"
        >Username is required!
        </ion-card-content>
      <ion-card-content 
        *ngSwitchCase="username.hasError('minlength') && username.touched"
        class="error-box" 
        color="red"
        >Minimum username length is 2!
      </ion-card-content>       
      <ion-card-content 
        *ngSwitchCase="username.hasError('maxlength') && username.touched"
        class="error-box" 
        color="red"
        >Minimum username length is 10!
      </ion-card-content>          
      <ion-card-content 
        *ngSwitchCase="username.hasError('validateUsername') && username.touched"
        class="error-box" 
        color="red"
        >Username cant't start with number!
      </ion-card-content>
      <ion-card-content 
        *ngSwitchCase="serverErrors"
        class="error-box" 
        color="red"
        >Login or password not correct!
      </ion-card-content>
    </ion-card>
    
     <!--Password input-->
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input 
        type="password"  
        name="password" 
        formControlName="password" 
        (input)="hideServerError()"
        outline
        >
      </ion-input>
    </ion-item>
    <!--password validation errors --> 
    <ion-card [ngSwitch]="true">
      <ion-card-content
        *ngSwitchCase="password.hasError('required') && password.touched"
        class="error-box"
        color="red"
        >Password is required!
      </ion-card-content>
      <ion-card-content 
        *ngSwitchCase="password.hasError('minlength') && password.touched"
        class="error-box" 
        color="red"
        >Minimum password length is 6!
      </ion-card-content>
       
    </ion-card>    
    
    <button ion-button type="submit" [disabled]="!loginForm.valid" full>Enter</button>
    </ion-list>
    
  </form>
  <button ion-button type="button" (click)='doFbLogin()' full>fb</button>
  
</ion-content>


