<ion-header>
  <ion-navbar>
    <ion-title>Restore Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="restorePassForm()" [formGroup]="restorePasswordForm">
    <ion-list inset>
      <ion-item>
        <ion-label floating>Enter email</ion-label>
        <ion-input 
          type="email" 
          formControlName="email" 
          name="email" 
          (input)="hideServerError()"
          >
        </ion-input>
      </ion-item>
      <ion-card>
          <ion-card-content 
            *ngIf="this.error.emailNotExist"
            class="error-box" 
            color="red"
            >Error: User with such email is not registered!
          </ion-card-content>  
        </ion-card>
    
      <button 
        ion-button 
        type="submit" 
        [disabled]="!restorePasswordForm.valid" 
        full
        >Send
      </button>
    </ion-list>
  </form>
  
 
</ion-content>
