<ion-header>
  <ion-navbar>
    <ion-title>Calendar</ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content padding>
  <date-picker #event></date-picker> 

  <events-card #showForm (scrollToTopForm)="scrollToTopForm()"></events-card> 

  <ion-fab top right edge>
    <button 
      ion-fab 
      mini 
      (click)="showForm.addEvent(event.isSelectedDay)" 
      (click)="scrollToTopForm()"
      >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
