
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class='buttonWrapper'>
      <button 
        ion-button full 
        color="primary" 
        (click)="syncWithDeviceConfirm()" 
        >
          <ion-icon ios="ios-sync" md="md-sync"></ion-icon>
          Sync
      </button>
    </div>
    <div class='buttonWrapper'>
      <button ion-button full 
        color="danger" 
        (click)="exitConfirm()" 
        >
          <ion-icon ios="ios-exit" md="md-exit"></ion-icon> 
          Exit
      </button>
    </div>
    
</ion-content>
