
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Log In" tabIcon="home" tabUrlPath="loginischee"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Sing In" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Restore Password" tabIcon="contacts"></ion-tab>
</ion-tabs>

