date-picker{
  
    td,th{
        padding: 10px 0;
    }
    .month th{
        padding: 0;
    }
    .active:hover{
       background: #1976D2;
    }
    td{
        width: calc(100% / 7);
        position: relative;
        cursor:pointer;
        border: 1px solid lightgrey;
        background: white;
    }
    table{
        width: 100%;
        text-align: center;
        padding: 5px 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #616161;
    }
    td:nth-child(6),
    th:nth-child(6){
        background: #EEEEEE
    }
    td:nth-child(7),
    th:nth-child(7){
        background: #E0E0E0
    }
    .other-month{
        color: #BDBDBD;
    }
    td.today{
        color: white;
        background: #FFEB3B;
    } 
    td.active{
        background: #1976D2;
        color: white
    }
    .weekDayNames{
        color: #43A047;
    }
    .month{
        background: #43A047;
        border-radius: 10px;
        color: white;
    }
    .birthday, 
    .meeting,
    .lesson{
        background: #4DD0E1 ;
        height: 100%;
        width: 3px;
        top: 0;
        position: absolute;
    }
    .meeting{
        background: #F06292 ;
    }
    .lesson{
        background: #BA68C8 ;
    }
    .button-clear-md{
        margin: 0;
        color: white;
    }
    .button-clear-md.activated{
        background: #80DEEA;
    }
}


