
<ion-card>

    <table>
        <thead>
            <tr class="month">
                <th class="arrows" >
                    <button ion-button clear class="arrows" (click)="prevMonth()"><ion-icon name="arrow-back"></ion-icon></button> 
                </th>
                <th colspan="5"
                    [@changedViewNext]="isChangedNext" 
                    [@changedViewPrev]="isChangedPrev"
                    
                    >{{parseMonth() + " " + this.showMonth.year}}
                </th>
                <th class="arrows" >
                    <button ion-button clear class="arrows" (click)="nextMonth()"><ion-icon name="arrow-forward"></ion-icon></button>   
                </th> 
            </tr>
            <tr class="weekDayNames">
                <th>Mo</th>
                <th>Tu</th>
                <th>We</th>
                <th>Th</th>
                <th>Fr</th>
                <th>Sa</th>
                <th>Su</th>
            </tr>
        </thead>
        <tbody 
            [@changedViewNext]="isChangedNext" 
            [@changedViewPrev]="isChangedPrev"
            (swipeleft)="nextMonth()"
            (swiperight)="prevMonth()"
            >
            <tr *ngFor="let week of this.showMonth.weeks" >
                <td 
                
                    *ngFor="let day of week.days"
                    (click)="cellEvent(day)"
                    [class.active]="day.dayId.format('DDMMYY') === isSelectedDay.format('DDMMYY')"
                    [ngClass]="{
                        'other-month': !!day.otherMonth, 
                        'today': day.dayId.format('DDMMYY') === showMonth.curDay.format('DDMMYY')
                        }"
                     >{{day.dayId.format("DD")}}
                    <div>
                        <div *ngFor="let event of filterEvents(day); let i = index;" 
                            [ngClass]="{
                                'birthday': event.type === 'birthday',
                                'meeting': event.type === 'meeting',
                                'lesson': event.type === 'lesson'
                            }"
                            [style.left.px]="i*3">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</ion-card>