<div id="topForms">
    <ion-title>Events</ion-title>
    
    <div *ngIf="!showFormAddEvent && !showFormEditEvent" >
  
        <ion-list>
            <ion-item-sliding *ngFor="let event of dayEvents">
                <ion-item >
                    <ion-thumbnail item-left>
                        <img [src]="event.Images.length > 0 && event.Images[0].images ? event.Images[0].images : 'assets/icon/no-img.png'">
                    </ion-thumbnail>
                    <h2>{{event.title}}</h2>
                    <h3 *ngIf='event.location'>{{event.location}}</h3>
                    <p *ngIf='event.notes'>{{event.notes}}</p>
                    <div item-right class="itemTime">
                        <div>{{getTime(event.date)}}</div> 
                        <div> - </div>
                        <div>{{getTime(event.endDate)}}</div>
                    </div>
                </ion-item>
                
                <ion-item-options side="right">
                    <button ion-button color="secondary" (click)="editEvent(event)">
                        <ion-icon ios="ios-create" md="md-create"></ion-icon>
                        Edit
                    </button>
                    <button ion-button color="danger" (click)="deleteEvent(event)">
                        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                        Del
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
       

        <ion-card *ngIf='!dayEvents.length'>
            <ion-card-header>
                <ion-row>
                    <ion-col >
                        Нет событий на текущую дату
                    </ion-col >
                </ion-row>
            </ion-card-header>
        </ion-card>
    </div>
   

    <ion-card class="addEventCard" *ngIf="showFormAddEvent && !showFormEditEvent" >
        <ion-card-header>
            <div ion-item class="closeButton">
                 Add new event!
                <button  
                    ion-button
                    item-right
                    color="danger" 
                    (click)="closeAddEventForm()"
                    >
                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button>  
            </div>          
        </ion-card-header>
        <ion-card-content>
            <form (ngSubmit)="addEventFormSubmit()" [formGroup]="addEventForm">
                <ion-item  class="addEventItem">
                    <ion-label>Type</ion-label>
                    <ion-select 
                        [(ngModel)]="addEventModel.type" 
                        name="type" 
                        formControlName="type"
                        >
                        <ion-option value="lesson" >lesson</ion-option>
                        <ion-option value="birthday" selected="true">birthday</ion-option>
                        <ion-option value="meeting">meeting</ion-option>
                    </ion-select>
                </ion-item>
            
                <ion-item  class="addEventItem">
                    <ion-label>Date</ion-label>
                    <ion-datetime 
                        displayFormat="YYYY/MM/DD - HH:mm" 
                        max="2020-10-31" 
                        minuteValues="0,15,30,45"
                        [(ngModel)]="addEventModel.date" 
                        name="date"
                        formControlName="date"
                    ></ion-datetime>
                </ion-item>

                <ion-item  class="addEventItem">
                    <ion-label>End Date</ion-label>
                    <ion-datetime 
                        displayFormat="YYYY/MM/DD - HH:mm" 
                        max="2020-10-31" 
                        minuteValues="0,15,30,45"
                        [(ngModel)]="addEventModel.endDate" 
                        name="endDate"
                        formControlName="endDate"
                    ></ion-datetime>
                </ion-item>

                <ion-item  class="addEventItem">
                    <ion-label>Location</ion-label>
                    <ion-input 
                        name="location" 
                        formControlName="location"
                        [(ngModel)]="addEventModel.location"
                    ></ion-input>
                </ion-item>

                <ion-item  class="addEventItem">
                    <ion-label>Title</ion-label>
                    <ion-input 
                        name="title" 
                        formControlName="title"
                        [(ngModel)]="addEventModel.title"
                    ></ion-input>
                </ion-item>
            
                <ion-item  class="addEventItem">
                    <ion-label>Notes</ion-label>
                    <ion-textarea 
                        name="notes" 
                        formControlName="notes"
                        [(ngModel)]="addEventModel.notes"
                    ></ion-textarea>
                </ion-item>

                <ion-item  class="addEventItem ">
                    <div>
                        <ion-icon 
                            ios="ios-image"
                            md="md-image" 
                            class="uploadPhotoIcon"
                            on-tap="presentAction()"
                            >
                        </ion-icon>
                    </div>
                    <div *ngIf="image.b64" class="uploadPhoto">
                         <div><img [src]="image.b64" class="uploadPhotoImg"></div>
                         <ion-icon  color="danger" on-tap="deleteUploadPhoto()">Del</ion-icon>
                    </div>
                </ion-item>

              

                <ion-item  class="addEventItem">
                    <ion-label >Sync with device</ion-label>
                    <ion-checkbox 
                        [(ngModel)]="toSync"
                        [ngModelOptions]="{standalone: true}"
                        >
                    </ion-checkbox>
                </ion-item>

                
                <ion-card [ngSwitch]="true">
                    <ion-card-content 
                        *ngSwitchCase="title.hasError('required') && title.touched"
                        class="error-box" 
                        color="red"
                        >Title is required!
                    </ion-card-content>
                    <ion-card-content 
                        *ngSwitchCase="addEventForm.hasError('checkEndDate')"
                        class="error-box" 
                        color="red"
                        >End time less start time!
                    </ion-card-content>
                </ion-card>
               
                <button 
                    ion-button 
                    type="submit" 
                    color="secondary" 
                    [disabled]="!addEventForm.valid || disabled"
                    full
                    >Submit
                </button>
            </form>
        </ion-card-content>
    </ion-card>


    <ion-card class="editEventCard" *ngIf="showFormEditEvent " [ngClass]="{'hide': this.opasity}">
        <ion-card-header>
            
            <div ion-item class="closeButton">
                 Edit event!
                <button  
                    ion-button
                    item-right
                    color="danger" 
                    (click)="closeEditEventForm()"
                    >
                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button>  
            </div>                 
        </ion-card-header>
        <ion-card-content>
            <form (ngSubmit)="editEventFormSubmit()" [formGroup]="editEventForm">
                <ion-item  class="editEventItem">
                    <ion-label>Type</ion-label>
                    <ion-select 
                        [(ngModel)]="editEventModel.type" 
                        name="type" 
                        formControlName="type"
                        >
                        <ion-option value="lesson" >lesson</ion-option>
                        <ion-option value="birthday" selected="true">birthday</ion-option>
                        <ion-option value="meeting">meeting</ion-option>
                    </ion-select>
                </ion-item>
            
                <ion-item  class="editEventItem">
                    <ion-label>Date</ion-label>
                    <ion-datetime 
                        displayFormat="YYYY/MM/DD - HH:mm" 
                        max="2020-10-31" 
                        minuteValues="0,15,30,45"
                        [(ngModel)]="editEventModel.date" 
                        name="date"
                        formControlName="date"
                    ></ion-datetime>
                </ion-item>

                <ion-item  class="editEventItem">
                    <ion-label>End date</ion-label>
                    <ion-datetime 
                        displayFormat="YYYY/MM/DD - HH:mm" 
                        max="2020-10-31" 
                        minuteValues="0,15,30,45"
                        [(ngModel)]="editEventModel.endDate" 
                        name="endDate"
                        formControlName="endDate"
                    ></ion-datetime>
                </ion-item>

                <ion-item  class="editEventItem">
                    <ion-label>Location</ion-label>
                    <ion-input 
                        name="location" 
                        formControlName="location"
                        [(ngModel)]="editEventModel.location"
                    ></ion-input>
                </ion-item>

                <ion-item  class="editEventItem">
                    <ion-label>Title</ion-label>
                    <ion-input 
                        name="title" 
                        formControlName="title"
                        [(ngModel)]="editEventModel.title"
                    ></ion-input>
                </ion-item>
            
                <ion-item  class="editEventItem">
                    <ion-label>Notes</ion-label>
                    <ion-textarea 
                        name="notes" 
                        formControlName="notes"
                        [(ngModel)]="editEventModel.notes"
                    ></ion-textarea>
                </ion-item>

                <ion-item  class="editEventItem ">
                    <div>
                        <ion-icon 
                            ios="ios-image"
                            md="md-image" 
                            class="uploadPhotoIcon"
                            on-tap="editPhoto()"
                            >
                        </ion-icon>
                    </div>
                    <div *ngIf="image.b64" class="uploadPhoto">
                         <div><img [src]="image.b64" class="uploadPhotoImg"></div>
                         <ion-icon  color="danger" on-tap="deletePhoto()">Del</ion-icon>
                    </div>
                </ion-item>

                <ion-card [ngSwitch]="true">
                    <ion-card-content 
                        *ngSwitchCase="titleEdit.hasError('required') && titleEdit.touched"
                        class="error-box" 
                        color="red"
                        >Title is required!
                    </ion-card-content>
                   <ion-card-content 
                        *ngSwitchCase="editEventForm.hasError('checkEndDate')"
                        class="error-box" 
                        color="red"
                        >End time less start time!
                    </ion-card-content>
                </ion-card>

                <button 
                    ion-button 
                    type="submit" 
                    color="primary" 
                    [disabled]="!editEventForm.valid || disabledEdit"
                    full
                    >Confirm
                </button>
    
            </form>
        </ion-card-content>
    </ion-card>
</div>