events-card{
    .birthdayEv{
        background: #4DD0E1;
    }
    .meetingEv{
        background: #F06292 ;
    }
    .lessonEv{
        background: #BA68C8 ;
    }
    .eventCardHeader{
        margin-right: 20px;
        flex-wrap: wrap;
    }
    .eventTitle{
        width: calc(100% - 40px)
    }
    .eventTime{
        width: 100%;
        font-size: 70%;
    }
    .addEventCard{
        background: #FFEE58;
    }
    .editEventCard{
        background: #4CAF50;
    }
    .addEventItem{
        background: #FFF9C4
    }
    .editEventItem{
        background: #FAFAFA
    }
    .eventTime{
        text-align: left
    }
    .location{
        font-size: 70%;
    }
    .notes{
        font-size: 90%;
    }
    .deleteEvent{
        position: absolute;
        right: 0;
        top: 0;
    }
    ion-card-header{
         position: relative;
         white-space: normal;
    }
    .closeButton{
        background: inherit;
    }
    ion-card-header{
        padding: 5px !important;
    }
    ion-card-content{
        padding: 5px !important;
    }

    .itemTime{
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        font-size: 70%;
        color: grey;
    }
    .itemTime div{
        flex-basis: 100%;
        text-align: center;
    }
    .hide{
        opacity: 0;
    }
    .uploadPhoto{
        display: flex;
        justify-content: space-between;
    }
    .uploadPhotoIcon{
        font-size:35px;
        color: blue;
        padding: 0;
        margin: 0;
    }
    .uploadPhotoImg{
        max-height: 40px;
        max-width: 60px;
        height: auto;
        width: auto;
    }
}


