<ion-header>
  <ion-navbar>
    <ion-title>Sing Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="singUpForm()" [formGroup]="singupForm">
    <ion-list inset>
      <!--Username input-->
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input
          type="text"
          name="username" 
          formControlName="username"
          (input)="hideServerError()">
        </ion-input>
      </ion-item>
      <!--username validation errors -->
      <ion-card [ngSwitch]="true">
        <ion-card-content 
          *ngSwitchCase="username.hasError('required') && username.touched"
          class="error-box" 
          color="red"
          >Username is required!
        </ion-card-content>
        <ion-card-content 
          *ngSwitchCase="username.hasError('minlength')"
          class="error-box" 
          color="red"
          >Minimum username length is 2!
        </ion-card-content>       
        <ion-card-content 
          *ngSwitchCase="username.hasError('maxlength')"
          class="error-box" 
          color="red"
          >Minimum username length is 10!
        </ion-card-content>          
        <ion-card-content 
          *ngSwitchCase="username.hasError('validateUsername')"
          class="error-box" 
          color="red"
          >Username cant't start with number!
        </ion-card-content> 
        <ion-card-content 
          *ngSwitchCase="serverErrors"
          class="error-box" 
          color="red"
          >Login or email already exist!!
        </ion-card-content> 
      </ion-card>

      <!--Email input-->
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input 
          type="email" 
          formControlName="email" 
          name="email" 
          (input)="hideServerError()">
        </ion-input>
      </ion-item>
      <!--email validation errors -->
      <ion-card [ngSwitch]="true">
        <ion-card-content 
          *ngIf="email.hasError('validateEmail') && email.touched"
          class="error-box" 
          color="red"
          >Email not valid!
        </ion-card-content>  

      </ion-card>

      <!--Password input-->
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input 
          type="password" 
          name="password" 
          formControlName="password"
          >
        </ion-input>
      </ion-item>
      <!--password validation errors -->
      <ion-card [ngSwitch]="true">
        <ion-card-content 
          *ngSwitchCase="password.hasError('required') && password.touched"
          class="error-box" 
          color="red"
          >Password is required!
        </ion-card-content>
        <ion-card-content 
          *ngSwitchCase="password.hasError('minlength') && password.touched"
          class="error-box" 
          color="red"
          >Minimum password length is 6!
        </ion-card-content>       
      </ion-card>

      <button 
        ion-button 
        type="submit" 
        [disabled]="!singupForm.valid" 
        color="secondary" 
        full
        >Submit
      </button>
    </ion-list>
    
  </form>
  
</ion-content>
